*.iml
.gradle
/local.properties
.DS_Store
/build
/.idea/Project.xml
/.idea/caches/
/.idea/dictionaries/
/.idea/codeStyles/
/.idea/libraries
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/compiler.xml

/*/gen/
/*/.idea/
/*/.okbuck/
/captures
.externalNativeBuild
/.okbuck
.buckconfig*
*/BUCK
.watchmanconfig
/app/schemas
/*/generated
app/bugly/*
*.log
multidex.keep
*.classpath
*/.settings/
*.project
./jz_flutter/

app/full-r8-config.txt

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

fastlane/jiagu/jiagu.db
fastlane/jiagu/output/
fastlane/jiagu/.cache
/*/*/build
/jz_*/build
*.hprof

/radle-version