<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.jingzhuan.tableview.demo">

    <application
        android:name="cn.jingzhuan.tableview.demo.TableViewDemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/table"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".lesson1.Lesson1Activity" />
        <activity android:name=".lesson2.Lesson2Activity" />
        <activity android:name=".lesson3.Lesson3Activity" />
        <activity android:name=".lesson4.Lesson4Activity" />
        <activity android:name=".lesson5.Lesson5Activity" />
        <activity android:name=".lesson6.Lesson6Activity" />
        <activity android:name=".lesson7.Lesson7Activity" />
        <activity android:name=".lesson8.Lesson8Activity" />
        <activity android:name=".lesson9.Lesson9Activity" />
    </application>

</manifest>